body {
    font-family: Roboto, sans-serif;
}

.header {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    flex-direction: row;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #F9FAF8;
}