html {
    font-family: Roboto, sans-serif;
    margin: 0px;
}

.header {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    flex-direction: row;
    padding: 20px;
    justify-content: space-between;
    margin: 0;
}

.links {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

a {
    text-decoration: none;
    color: #F9FAF8;
}
