html, 
body {
    font-family: Roboto, sans-serif;
    margin: 0px;
}

.header {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    flex-direction: row;
    padding: 20px;
    justify-content: space-around;
    align-items: center;
    margin: 0;
}

.header-logo {
    font-weight: 900;
    font-size: 24px;
}

.links {
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-size: 18px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.hero {
    background-color: #1F2937;
    margin: 0px;
}

h1 {
    margin: 0px;
}

.awesome-header {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
}