body {
    font-family: Roboto, sans-serif;
}

.header {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    flex-direction: row;
    padding: 10px;
    justify-content: space-between;
}

ul {
    list-style-type: none;
    margin: 0;
}

a {
    text-decoration: none;
    color: #F9FAF8;
}

li {
    display: flex;
    flex-direction: row;  
}