html, 
body {
    font-family: Roboto, sans-serif;
    margin: 0px;
}

.header {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    flex-direction: row;
    padding: 20px;
    justify-content: space-around;
    align-items: center;
    margin: 0;
}

.header-logo {
    font-weight: 900;
    font-size: 24px;
}

.links {
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-size: 18px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.hero {
    background-color: #1F2937;
    margin: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 100px 120px;
    max-height: 500px;
}

p {
    margin: 0px;
}

.awesome {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.awesome-header {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
    max-width: 350px;
}

.awesome-text {
    color: #E5E7EB;
    font-size: 18px;
    max-width: 450px;
}

.signup {
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 18px;
    font-weight: 700;
    border-style: none;
    padding: 10px 30px;
    border-radius: 10px;
    display: flex;
    flex-shrink: 3;
}

.hero-img {
    max-height: 500px;
    width: auto;
    overflow: hidden;
}

.information {
    padding: 100px 120px;
}

.random {
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}

.cards {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.card-img {
    max-height: 250px;
    width: 250px;;
    overflow: hidden;
    border-radius: 10px;
}

.card-text p {
    font-size: 18px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    max-width: 200px;
    padding: 5px 25px;
}

.one-card {
    max-width: 250px;
    display: flex;
    flex-direction: column;
}